body {
	background-color:#ffffff;
}
.leftcolumn {
	background-color:#ffffff;
}

.centercolumn {
	background-color:#ffffff;
}

.rightcolumn {
	background-color:#ffffff;
}

.headercolumn {
	background-color:#ffffff;
}

.footercolumn {
	background-color:#ffffff;
}