img.comp_title_icon {
	border:1px solid #000000;
	padding:2px;
	vertical-align:middle;
}

.comptextarea_dialog {
	border: 1px solid;
	border-color: #cccccc #aca899 #aca899 #cccccc; 
	background-color: #f5f5f5;
	padding:5px;
	border-collapse: separate;
}

.comptextarea_dialog_insertsmiley { 
	width:auto;
	background-color: #ffffff;
	border: 1px solid #cccccc;
}

.comptextarea_dialog_highlight { 
	background-color: #ffffa8;
}