<{strip}>
<table class="outer" summary="<{$smarty.const._SUMMARY_LIST}>">
	<tr>
		<th class="head module_result_detail_str" colspan="2" scope="col"><{$lang.module_result_title|smarty:nodefaults}></th>
	</tr>
	<tr class="row">
		<th scope="row"><{$lang.module_module_name|smarty:nodefaults}></th>
		<td><{$action.module_name}></td>
	</tr>
	<tr class="row">
		<th scope="row"><{$lang.module_result|smarty:nodefaults}></th>
		<td><{$action.result_str|smarty:nodefaults}></td>
	</tr>
</table>
<{/strip}>