/* 
 * ブロック定義
 */
/* title */
.th_titlebox_red_line_color {
	background-color:#762c4b;
}

.th_titlebox_red_title_color {
	background-color:#ae688c;
	color:#ffffff;
}
/* 一般 */
.th_titlebox_content {
	padding: 0px 2px;
}

.th_titlebox_titletop {
	margin-bottom:5px;
	width:100%;
}
.th_titlebox_line {
	white-space:nowrap;
	width:8px;
}

.th_titlebox_title {
	white-space:nowrap;
	text-align: left;
	padding: 3px 10px;
	margin:0px;
}
.th_titlebox_content_detail {
	margin-left:5px;
}