<{strip}>
<h6>
	<{if ($action.html_flag == _ON) }>
		<a href="?action=bbs_view_mobile_post_main&amp;block_id=<{$block_id}>&amp;bbs_id=<{$action.post.bbs_id}>&amp;post_id=<{$post.post_id}>&amp;html_flag=<{$smarty.const._OFF}><{$session_param}>">
			<{$lang._mobile_view_text|smarty:nodefaults}>
		</a>
	<{else}>
		<a href="?action=bbs_view_mobile_post_main&amp;block_id=<{$block_id}>&amp;bbs_id=<{$action.post.bbs_id}>&amp;post_id=<{$post.post_id}>&amp;html_flag=<{$smarty.const._ON}><{$session_param}>">
			<{$lang._mobile_view_html|smarty:nodefaults}>
		</a>
	<{/if}>
</h6>
<br />

<{if ($action.html_flag == _ON) }>
	<{$action.post.body|smarty:nodefaults|img_style_rgb_to_hex|wysiwig_convert_url}>
<{else}>
	<{$action.post.body|html_to_text|smarty:nodefaults|nl2br}>
<{/if}>
<br style="clear:both;" />

<{if ($action.post.edit_authority || $action.post.reply_authority) }>
	<br />
	<div>
		<{if ($action.post.edit_authority) }>
			<a href="?action=bbs_view_main_post_edit&amp;block_id=<{$block_id}>&amp;bbs_id=<{$action.post.bbs_id}>&amp;post_id=<{$action.post.post_id}><{$session_param}>">
				<{$lang.bbs_edit_post|smarty:nodefaults}>
			</a>
			<{$lang._mobile_separator|smarty:nodefaults}>
			<a href="?action=bbs_view_mobile_post_delete&amp;block_id=<{$block_id}>&amp;bbs_id=<{$action.post.bbs_id}>&amp;post_id=<{$action.post.post_id}><{$session_param}>">
				<{$lang.bbs_delete_post|smarty:nodefaults}>
			</a>
			<{if ($action.post.reply_authority) }>
				<{$lang._mobile_separator|smarty:nodefaults}>
			<{/if}>
		<{/if}>
		<{if ($action.post.reply_authority) }>
			<a href="?action=bbs_view_mobile_post_reply&amp;block_id=<{$block_id}>&amp;bbs_id=<{$action.post.bbs_id}>&amp;post_id=<{$action.post.post_id}><{$session_param}>">
				<{$lang.bbs_reply|smarty:nodefaults}>
			</a>
		<{/if}>
	</div>
	<br />
<{/if}>
<{/strip}>