<{strip}>
<{* 表示件数option用テンプレート *}>
<option value="1"><{$lang.bbs_visible_row_unit|smarty:nodefaults|sprintf:"1"}></option>
<option value="5"><{$lang.bbs_visible_row_unit|smarty:nodefaults|sprintf:"5"}></option>
<option value="10"><{$lang.bbs_visible_row_unit|smarty:nodefaults|sprintf:"10"}></option>
<option value="20"><{$lang.bbs_visible_row_unit|smarty:nodefaults|sprintf:"20"}></option>
<option value="50"><{$lang.bbs_visible_row_unit|smarty:nodefaults|sprintf:"50"}></option>
<option value="100"><{$lang.bbs_visible_row_unit|smarty:nodefaults|sprintf:"100"}></option>
<{* <option value="0"><{$lang.bbs_visible_row_all|smarty:nodefaults}></option> *}>
<{/strip}>