<style type="text/css">
img {border:0px;}
form {margin:0px;}

/* 
 * body
 */
body {
	margin:0px; 
	padding:0px; 
	text-decoration:none; 
	color:#6e6e6e;
	margin:0px; 
	padding:0px; 
	text-decoration:none;
	font-size:80%;
	font-family:Arial, sans-serif;
	
	background-color:#e6e6e6;
}
table {
	border-width:0px; 
	padding:0px; 
	border-collapse:collapse; 
	font-size: small;
}
/* 
 * 一般
 */
h1,h2,h3,h4,h5,h6 {
	line-height:normal;
	padding:0px;
	margin:0px;
	margin-bottom:5px;
}
.widthmax {
	width:100%;
}
.widthauto {
	width:auto;
}

.nowrap {
	white-space:nowrap;
}

.valign-top {
	vertical-align:top;
}
.valign-middle {
	vertical-align:middle;
}
.valign-bottom {
	vertical-align:bottom;
}
.align-left {
	text-align:left;
}
.align-right {
	text-align:right;
}
.align-center {
	text-align:center;
}
.bold {
	font-weight:bold;
}
div.outerdiv {
	padding:5px;
}
.display-block {
	display:block;
}
.display-none {
	display:none;
}

/* wizard関連 */
input.lined_btn {
	margin-left:5px;
}
div.top_description {
	padding:5px;
}
/* 登録ボタン等の広さ */
.btn-width {
	width:75px;	
	padding:0.2em;
}
/* 
 * フッター部定義
 */
table#footerbar {
	text-align:right;
	color:#a3a3a3;
	vertical-align:middle;
	font-size:10px;
	font-weight:bold;
	width:100%;
	/*border-top:1px #a9a9d1 solid;*/
}
table#footerbar .copyright {text-align:right; color:#a3a3a3; vertical-align:middle; font-size:10px; font-weight:bold;}

/* Installer */
table th{
	font-weight:normal;
	text-align:left;
}
.install_top {
	background-color:#ffffff;
	width:700px; 
	border:1px solid #c0c0c0;
	border-collapse: collapse;
}
.install_header {
	padding:10px;
}
.install_main {
	padding:10px;
	border-top:1px solid #c0c0c0;
	border-bottom:1px solid #c0c0c0;
}
.install_title {
	padding:10px;
	font-weight:bold;
}
.install_top_description {
	padding:5px 0px 5px 20px;
}
.install_detail {
	padding: 5px 20px;
	margin-bottom:5px;
}
.install_detail_main {
	padding:10px;
}
.install_btn_desc {
	font-size:80%;
	color:#a3a3a3;
}
.install_general_header {
	font-weight:bold;
	padding:3px;
}
.install_general_header_desc {
	font-weight:normal;
	padding-left:10px;
	font-size:85%;
}
.install_general_data{
	vertical-align:top;
	padding:3px;
}
.install_detail_setting{
	background-color:#efefef;
}
.install_detail_link {
}
.install_general_top {
	margin-left:auto;
	margin-right:auto;
}
.install_error_mes {
	color:#ff0000;
	font-weight:bold;
	text-align:center;
}
<{* 設定の保存 *}>
.install_save_setting_subtitle {
	padding:3px;
	font-weight:bold;
}
.install_save_setting_data {
	vertical-align:top;
	padding:3px 3px 3px 15px;
}
.install_img {
	border-style: none; 
	width: 6px; height: 12px;
}
.install_btn_bottom_left {
	text-align:left;
	width:25%;
	white-space:nowrap;
}
.install_btn_bottom_center {
	text-align:center;
	width:50%;
	white-space:nowrap;
}
.install_btn_bottom_right {
	text-align:right;
	width:25%;
	white-space:nowrap;
}
.install_success_mes {
	text-align:center;
	padding:10px 0px 5px 0px; 
}
.install_checkdb_createdb {
	text-align:center;
	padding:0px 10px; 
}
</style>