<{strip}>
<{include file = "install_header.html"}>
<form id="form<{$id}>" action="#" method="post" onsubmit="return false;">

<div class="install_title">
	<{$smarty.const.INSTALL_WELCOME_TITLE}>
</div>
<div class="install_detail">
	<label for="select_lang<{$id}>">
		<{$lang.install_mes_sel_lang}>
	</label>
	<div class="install_detail_main align-center">
		<select id="select_lang<{$id}>" name="select_lang" title="">
		<{foreach name="lang_list" item="lang_name" from=$action.lang_list}>
			<option value="<{$lang_name}>"<{if $lang_name == $smarty.session._lang}> selected="selected"<{/if}>>
				<{$lang_name}>
			</option>
		<{/foreach}>
		</select>
	</div>
	<div class="align-right">
		<span class="install_btn_desc">
			<{$smarty.const.INSTALL_INTRO_TITLE}>&gt;&gt;
		</span>
		<input class="btn-width lined_btn" type="button" value="<{$lang.install_btn_next_arrow|smarty:nodefaults}>" onclick="location.href= '.<{$smarty.const.INDEX_FILE_NAME}>?action=install_view_main_intro&' + Form.serialize($('form<{$id}>')); return false;" />
	</div>
</div>

</form>
<{include file = "install_footer.html"}>
<{/strip}>