body {
	background-color:#eaecec;
}
.leftcolumn {
	background-color:#eaecec;
}

.centercolumn {
	background-color:#eaecec;
}

.rightcolumn {
	background-color:#eaecec;
}
.headercolumn_menu {
	background-color: #eaecec !important;
}
.headercolumn {
	background-color:#eaecec;
}

.footercolumn {
	background-color:#eaecec;
}