

/*トップ　パブリックスペース*/
.side_150_orange01_menu_top_public {
	/*white-space:nowrap;*/
	display:block;
}

/*パブリックスペース*/
.side_150_orange01_menu_public {
	display:block;
}

/*トップ　プライベートスペース*/
.side_150_orange01_menu_top_private {
	font-weight:bold;
	/*white-space:nowrap;*/
	display:block;
	padding:2px;
}
/*プライベートスペース*/
.side_150_orange01_menu_private {
	display:block;
	padding:2px;
}

/*トップ　グループスペース*/
.side_150_orange01_menu_top_group {
	font-weight:bold;
	/*white-space:nowrap;*/
	display:block;
	padding:2px;
}
/*グループスペース*/
.side_150_orange01_menu_group {
	display:block;
	padding:2px;
}

/* 
 * メニュー定義
 */

/* 左メニュー */
.side_150_orange01_menubar_left dl {
	margin: 0px;	/* dl内部の左端余白を消す(IE) */
	padding: 0px;	/* dl内部の左端余白を消す(Fx,Op) */
}

.side_150_orange01_menubar_left {
	margin: 0px;			/* 各項目周囲の余白 */
	padding: 0px;			/* 枠線と内容の距離をゼロに */
	border-style: none;		/* 項目の枠線 */
	list-style-type: none;	/* 先頭記号を消す */
	background-repeat: no-repeat;
}
/* メニュー項目のリンクを装飾 */
.side_150_orange01_menubar_left a.menulink {
	color:#444;
	padding:7px 5px 7px 26px;
	margin:0px;
	width:117px;
	line-height:1.4em;
	font-size:12px !important;
	white-space:normal !important;
	border-left:1px solid #FBC840;
	border-right:1px solid #FBC840;
	border-bottom:1px solid #FBC840;
	overflow:hidden;
	text-decoration: none;	/* 下線を消す */
	display: block;			/* ブロックレベルに */
	background:url("<{$smarty.const.CORE_BASE_URL}>/images/menu/side_150_orange01/bg.gif") -2px -2px no-repeat;
}
.side_150_orange01_menubar_left a.menulink:hover {
	color:#a63;
	background:url("<{$smarty.const.CORE_BASE_URL}>/images/menu/side_150_orange01/bg_on.gif") -2px -2px no-repeat !important;
}


.side_150_orange01_menubar_left_act dl {
	margin: 0px;	/* dl内部の左端余白を消す(IE) */
	padding: 0px;	/* dl内部の左端余白を消す(Fx,Op) */
}

.side_150_orange01_menubar_left_act {
	margin: 0px;			/* 各項目周囲の余白 */
	padding: 0px;			/* 枠線と内容の距離をゼロに */
	border-style: none;		/* 項目の枠線 */
	list-style-type: none;	/* 先頭記号を消す */
	background-repeat: no-repeat;
}
/* メニュー項目のリンクを装飾 */
.side_150_orange01_menubar_left_act a.menulink {
	color:#444;
	padding:7px 5px 7px 26px;
	margin:0px;
	width:117px;
	line-height:1.4em;
	font-size:12px !important;
	white-space:normal !important;
	border-left:1px solid #FBC840;
	border-right:1px solid #FBC840;
	border-bottom:1px solid #FBC840;
	overflow:hidden;
	text-decoration: none;	/* 下線を消す */
	display: block;			/* ブロックレベルに */
	background:url("<{$smarty.const.CORE_BASE_URL}>/images/menu/side_150_orange01/bg_on.gif") -2px -2px no-repeat;
}
.side_150_orange01_menubar_left_act a.menulink:hover {
	background:url("<{$smarty.const.CORE_BASE_URL}>/images/menu/side_150_orange01/bg_on.gif") -2px -2px no-repeat;
}



/* 左カテゴリーメニュー */
.side_150_orange01_menubar_category_left dl {
	margin: 0px;	/* dl内部の左端余白を消す(IE) */
	padding: 0px;	/* dl内部の左端余白を消す(Fx,Op) */
}

.side_150_orange01_menubar_category_left {
	margin: 0px;			/* 各項目周囲の余白 */
	padding: 0px;			/* 枠線と内容の距離をゼロに */
	border-style: none;		/* 項目の枠線 */
	list-style-type: none;	/* 先頭記号を消す */
	/*background-image: url("<{$smarty.const.CORE_BASE_URL}>/images/menu/side_150_orange01/bg_category.gif");*/
	/* 画像(preload) */
	background-repeat: no-repeat;
}
/* メニュー項目のリンクを装飾 */
.side_150_orange01_menubar_category_left a.menulink {
	padding:7px 0px 7px 26px;
	margin:0px;
	font-size:12px !important;
	width:124px;
	color:#444;
	white-space:normal;
	line-height:1.6em;
	font-weight:bold;
	text-decoration: none;	/* 下線を消す */
	display: block;			/* ブロックレベルに */
	background:url("<{$smarty.const.CORE_BASE_URL}>/images/menu/side_150_orange01/bg_category.gif") no-repeat left top;
}
.side_150_orange01_menubar_category_left a.menulink:hover {
	color:#a63;
	/*background-image:url("<{$smarty.const.CORE_BASE_URL}>/images/menu/side_150_orange01/bg_category.gif");*/
}


.side_150_orange01_menubar_category_left_act dl {
	margin: 0px;	/* dl内部の左端余白を消す(IE) */
	padding: 0px;	/* dl内部の左端余白を消す(Fx,Op) */
}

.side_150_orange01_menubar_category_left_act {
	margin: 0px;			/* 各項目周囲の余白 */
	padding: 0px;			/* 枠線と内容の距離をゼロに */
	border-style: none;		/* 項目の枠線 */
	list-style-type: none;	/* 先頭記号を消す */
	/*background-image: url("<{$smarty.const.CORE_BASE_URL}>/images/menu/side_150_orange01/bg_category.gif");*/
	/* 画像(preload) */
	background-repeat: no-repeat;
}
/* メニュー項目のリンクを装飾 */
.side_150_orange01_menubar_category_left_act a.menulink {
	padding:7px 0px 7px 26px;
	margin:0px;
	font-size:12px !important;
	width:124px;
	color:#444;
	white-space:normal;
	line-height:1.6em;
	font-weight:bold;
	text-decoration: none;	/* 下線を消す */
	display: block;			/* ブロックレベルに */
	background:url("<{$smarty.const.CORE_BASE_URL}>/images/menu/side_150_orange01/bg_category.gif") no-repeat left top;
}
.side_150_orange01_menubar_category_left_act a.menulink:hover {
	color:#a63;
	/*background-image:url("<{$smarty.const.CORE_BASE_URL}>/images/menu/side_150_orange01/bg_category.gif");*/
}


