body {
	background-color:#e6e6e6;
	color:#111111;
	line-height:1.5;
}
.leftcolumn {
	background-color:#ffffff;
}

.centercolumn {
	background-color:#ffffff;
}

.rightcolumn {
	background-color:#ffffff;
}

.headercolumn {
	background-color:#ffffff;
}

.footercolumn {
	background-color:#ffffff;
}