/* 
 * ブロック定義
 */
/* 枠 */
.th_accessibility_default {
	background-color:#ffffff;
	border:1px solid #c8c8c8;
	border-collapse:collapse;
}

.th_accessibility_default_header{
	border:1px solid #c8c8c8;
	background-color:#f2f2f2;
	width:100%;
	border-collapse:collapse;
	cursor:move;
}

.th_accessibility_default_title {
/*	color:#5c666b; */
	color:#595959;
/*	font-size:90%; */
	font-size:90%;
	margin:0px;
	padding:5px 0px 5px 5px;
	display:block;
}

.th_accessibility_default_btn {
	border-left:1px solid #c8c8c8;
	float:left;
	display:block;
	padding: 0px 5px;
	white-space:nowrap;
}
/* highlight */
.th_accessibility_default .highlight{
	background-color:#eaeaea;
	color:#3d5B82;
}

a.hover_highlight, a.hover_highlight:link, a.hover_highlight:visited {
	color:#00008C;
	text-decoration:none;
	padding:0px 1px;
}

.th_accessibility_default a.hover_highlight:hover {
	background-color:#eaeaea;
	color:#00008c;
	text-decoration:none;
	padding:0px 1px;
}

/* 一般 */
.th_accessibility_content {
	border:0px;
	padding:10px;
}

.th_accessibility_headermenu {
	padding-top:5px;
}

.th_accessibility_shortcut {
	width:19px;
	padding: 0px 2px;
}

/* アクセシビリティ用 */
table {
	font-size:medium;
}

a.link:hover {
	color:#0081E8;
	text-decoration:none;
}

a.link, a.link:link {
	color:#0044A8;
	text-decoration:none;
}

a.syslink:hover {
	color:#00008c;
	text-decoration:none;
}

a.syslink, a.syslink:link {
/*	color:#1f704c; */
    color:#226e4e;
	text-decoration:none;
}

a.syslink:visited {
/*	color:#5c9084; */
    color:#226e4e;
	text-decoration:none;
}

a.syslink:active {
/*	color:#5c9084; */
    color:#226e4e;
	text-decoration:none;
}

a.menulink, a.menulink:link {
	color:#404040;
}

a.menulink:hover {
	color:#111111;
	text-decoration:none;
}

a.menulink:visited {
	color:#595959;
	text-decoration:none;
}

table.outer th {
	font-size:90%;
}

table#footerbar .copyright {
	color:#404040;
	font-size:120%;
	padding:0 8px;
}

td.grid_row, tr.grid_row td {
	line-height:18px;
	font-size:90%;
}

.require {
	color:#cc0000;
}

.deadline {
	background-color:#ffdddd;
	color:#bf0000;
}

img.dummy_img {
	height:1px;
	width:1px;
}

a.hidellink {
	color:#ffffff;
	text-decoration:none;
}