<{strip}>
<{assign var="main_theme_name" value="glass"}>
<table border="0" cellspacing="0" cellpadding="0" class="th_glass widthmax">
	<tr>
		<td class="th_glass_upperleft"><img src="<{""|get_image_url}>/images/common/blank.gif" alt="" title="" class="th_glass_upperleft" /></td>
		<td class="th_glass_upper"></td>
		<td class="th_glass_upperright"><img src="<{""|get_image_url}>/images/common/blank.gif" alt="" title="" class="th_glass_upperright" /></td>
	</tr>
	<tr>
		<td class="th_glass_left"></td>
		<td class="th_glass_content">
			<{*ヘッダータイトル*}>
			<table border="0" cellspacing="0" cellpadding="0" class="th_headermenu_title _block_title_event<{if $block_obj.block_name == "" && $smarty.session._layoutmode=="off"}> display-none<{/if}>">
				<tr>
					<td class="th_glass_title_header">
						<img src="<{""|get_image_url}>/themes/glass/images/title_icon.gif" title="" alt="" />
					</td>
					<td>
						<h2 class="nc_block_title th_glass_title" title="<{$dblclick_edit}>"><{$block_obj.block_name}></h2>
					</td>
				</tr>
			</table>
			<{*ヘッダーメニュー*}>
			<{if $headermenu}><{include file="../../../../templates/default/headermenu.html"}><{/if}>
			<div class="content"><{$content_field|smarty:nodefaults}></div>
		</td>
		<td class="th_glass_right"></td>
	</tr>
	<tr>
		<td class="th_glass_belowleft"></td>
		<td class="th_glass_below"></td>
		<td class="th_glass_belowright"></td>
	</tr>
</table>
<{/strip}>