/* line */
.th_underline_red_line {
	height:1px;
	background-color:#ef9ede;
	margin-right:3px;
}

.th_underline_red_title_line {
	width:6px;
	height:20px;
	background-color:#ef9ede;
}

/* highlight */
.th_underline_red .highlight {
	background-color:#f5dae0;
	color:#967294;
}

.th_underline_red a.hover_highlight:hover {
	background-color:#f5dae0;
	color:#967294;
	text-decoration:none;
}
/* 一般 */
.th_underline_title {
	width:100%;
	margin-bottom:5px;
}

.th_underline_title_header {
	padding-top:2px;
	vertical-align:top;
	width:10px;
}

.th_underline_content {
	border: 0px;
	padding: 5px 15px 5px 15px;
}