<{strip}>
<table border="0" cellspacing="0" cellpadding="0" class="th_headermenu_title _block_title_event<{if $block_obj.block_name == "" && $smarty.session._layoutmode=="off"}> display-none<{/if}>">
	<tr>
		<td class="th_headermenu_round_title_header">
			<div class="th_<{$main_theme_name}>_title_line">
				<img src="<{""|get_image_url}>/themes/images/headertitle/round/title_icon.gif" title="" alt="" />
			</div>
		</td>
		<td>
			<h2 class="nc_block_title" title="<{$dblclick_edit}>"><{$block_obj.block_name}></h2>
		</td>
	</tr>
</table>
<{/strip}>