<{strip}>
<{*携帯会員情報詳細画面*}>
<{* 詳細部 *}>

<h2 style="text-align:center;"><{$lang.userinf_detail_summary}></h2>
<br />
	<{foreach from=$action.items item=item_list}>
		<{foreach from=$item_list item=item}>
			<{assign var="public_flag_colname" value=$action.public_flag_colname}>

			<{if $item.$public_flag_colname != USER_NO_PUBLIC && ($smarty.session._user_id == $action.user_id || $smarty.session._user_auth_id == _AUTH_ADMIN || $item.allow_public_flag == _OFF || $item.public_flag == _ON)}>
				<{* 会員詳細 *}>
				<{if $item.tag_name != "" && $item.is_users_tbl_fld == true}>
					<{*userテーブルからデータ取得*}>
					<{assign var="tag_name" value=$item.tag_name}>
					<{assign var="content" value=$action.user.$tag_name|smarty:nodefaults}>
				<{else}>
					<{assign var="content" value=$item.content|smarty:nodefaults}>
				<{/if}>

				<{if $content != "" && (($item.tag_name=="previous_login_time") ||
					($item.tag_name=="last_login_time") ||
					($item.tag_name=="password_regist_time") ||
					($item.tag_name=="insert_time") ||
					($item.tag_name=="update_time")) }>
					<{* 日付変換 *}>
					<{assign var="content" value=$content|timezone_date_format:$lang._full_date_format|smarty:nodefaults}>
				<{/if}>

				<{if ($smarty.session._smartphone_flag == _ON) }>
					<h3 class="ui-bar-<{$smartphone_theme_color}> ui-title">
						<{$item.item_name}>
					</h3>
				<{else}>
					<div style="text-align:center;background-color:<{$color_text}>;">
						<span style="color:<{$color_back}>;">
							<{$item.item_name}>
						</span>
					</div>
				<{/if}>
				<p>
					<{if $item.type == "file"}>
						&nbsp;
						<{if $content == ""}>
							&nbsp;
						<{else}>
							<img src="<{$content}>" title="<{$item.item_name}>" alt="<{$item.item_name}>" <{$item.attribute}> />
						<{/if}>
					<{elseif $item.type == "password"}>
						&nbsp;
						<{* パスワード(ラベル) *}>
						<{$lang.userinf_password_label|smarty:nodefaults}>
					<{elseif $item.type == "textarea"}>
						<{if $content|trim == ""}>
							&nbsp;
						<{else}>
							<{$content|nl2br}>
						<{/if}>
					<{else}>
						&nbsp;
						<{$content}>
					<{/if}>
				</p>
			<{/if}>
		<{/foreach}>
	<{/foreach}>
	<{if $smarty.session._user_id == $action.user_id}>
	<div style="text-align:center;">
		<form action=".<{$smarty.const.INDEX_FILE_NAME}>" method="post">
			<input type="hidden" name="action" value="userinf_view_mobile_userdetail_edit">
			<input type="hidden" name="user_id" value="<{$action.user_id}>">
			<input type="submit" value="<{$lang._edit}>">
			<{$token_form|smarty:nodefaults}>
			<{$session_form|smarty:nodefaults}>
		</form>
	</div>
	<{/if}>

<{/strip}>