<{strip}>

<{*
	テンプレート本体は以下でinclude する
	inc_menu_view_main_list_header.html＞＞ヘッダの場合
	inc_menu_view_main_list_header_round.html＞＞ヘッダ角丸バージョンの場合
	inc_menu_view_main_list_side.html＞＞サイドメニューの場合
	以下の変数定義で必要なスタイルシート変数名を定義する
*}>

<{assign var="menubar_left_act"  value="side_150_gray01_menubar_left_act"}>
<{assign var="menubar_left"      value="side_150_gray01_menubar_left"}>
<{assign var="menu_top_public"   value="side_150_gray01_menu_top_public"}>
<{assign var="menu_public"       value="side_150_gray01_menu_public"}>
<{assign var="menu_top_group"    value="side_150_gray01_menu_top_group"}>
<{assign var="menu_group"        value="side_150_gray01_menu_group"}>
<{assign var="menu_top_private"  value="side_150_gray01_menu_top_private"}>
<{assign var="menu_private"      value="side_150_gray01_menu_private"}>
<{assign var="menubar_category_left_act" value="side_150_gray01_menubar_category_left_act"}>
<{assign var="menubar_category_left"     value="side_150_gray01_menubar_category_left"}>

<{include file="../inc_menu_view_main_list_side.html"}>

<{/strip}>