<{strip}>
<{* アンケートタイトル用テンプレート *}>
<{if !empty($action.questionnaire.icon_name|smarty:nodefaults)}>
	<img class="title_icon" src="<{""|get_image_url}>/images/comp/textarea/<{$action.questionnaire.icon_name}>" alt="" />
<{/if}>

<span class="questionnaire_name">
	<{$action.questionnaire.questionnaire_name}>
</span>

<{if !empty($action.questionnaire.period|smarty:nodefaults)}>
	<span class="require">
		<{$lang.questionnaire_period_notice|sprintf:$action.questionnaire.display_period_date}>
	</span>
<{/if}>

<{if $action.answerLinkShow}>
	<{if $action.questionnaire.answer_show_flag==$smarty.const._OFF}>
	<a class="syslink questionnaire_result_link" href="#" title="<{$lang.questionnaire_goto_answer_title|sprintf:$action.questionnaire.questionnaire_name}>" onclick="questionnaireCls['<{$id}>'].showSummaryList(event, <{$action.questionnaire.questionnaire_id}>, '<{$smarty.session._user_id}>');return false;">
		<{$lang.questionnaire_goto_answer}>
	</a>
	<{else}>
		<p>
		<{$lang.questionnaire_has_finished|smarty:nodefaults}>
		</p>
	<{/if}>
<{/if}>

<{if $action.totalLinkShow}>
	<a class="syslink questionnaire_result_link" href="#" title="<{$lang.questionnaire_goto_total_title|sprintf:$action.questionnaire.questionnaire_name}>" onclick="questionnaireCls['<{$id}>'].showTotal(event, <{$action.questionnaire.questionnaire_id}>);return false;">
		<{$lang.questionnaire_goto_total}>
	</a>
<{/if}>

<{/strip}>