<{strip}>
<{* 一問形式画面用テンプレート *}>
<div class="questionnaire_head">
	<{include file="questionnaire_view_main_head.html"}>
</div>

<form id="questionnaire_answer_form<{$id}>" action="#" onsubmit="return false;">
	<{if $action.questionnaire.questionnaire_type == QUESTIONNAIRE_TYPE_LIST_VALUE}>
		<input type="hidden" name="action" value="questionnaire_action_main_confirm" />
	<{else}>
		<input type="hidden" name="action" value="questionnaire_action_main_answer" />
	<{/if}>
	<input type="hidden" name="questionnaire_id" value="<{$action.questionnaire.questionnaire_id}>" />

	<{if $action.single}>
		<input type="hidden" name="question_id" value="<{$action.question.question_id}>" />
		<{assign var="question" value="`$action.question`"}>
		<{include file="questionnaire_view_main_question_answer.html"}>
	<{else}>
		<{include file="questionnaire_view_main_keypass.html"}>

		<{foreach from=$action.questions item=question name="question"}>
			<{include file="questionnaire_view_main_question_answer.html"}>
		<{/foreach}>

		<{include file="questionnaire_view_main_image_authentication.html"}>
	<{/if}>
</form>

<{if !$action.reference}>
	<div class="btn-bottom">
		<input class="btn-width" type="button" value="<{$lang.questionnaire_answer}>" onclick="questionnaireCls['<{$id}>'].answer();" />
	</div>
<{/if}>

<{include file = "../questionnaire_script.html"}>
<{/strip}>