<{strip}>
<{* 質問表示用テンプレート *}>
<div class="questionnaire_question_value">
	<div class="float-left">
		<span class="bold">
			<{if empty($action.currentSequence|smarty:nodefaults)}>
				<{$lang.questionnaire_question|sprintf:$smarty.foreach.question.iteration}>
			<{else}>
				<{$lang.questionnaire_single_question|sprintf:$action.currentSequence:$action.questionCount}>
			<{/if}>
		</span>
		<br />
		<{$question.question_value|smarty:nodefaults|wysiwig_convert_url}>
		<br class="float-clear" />

		<{if $action.answerItemShow && empty($question.answer|smarty:nodefaults) }>
			<span class="questionnaire_answer_flag">
				<{$lang.questionnaire_answer_none}>
			</span>
		<{/if}>
	</div>

	<{if $action.questionaryAnswerLinkShow}>
		<div class="align-right">
			<a class="syslink" href="#" title="<{$lang.questionnaire_answer_question_title|sprintf:$smarty.foreach.question.iteration}>" onclick="questionnaireCls['<{$id}>'].showQuestionaryAnswer(event, <{$question.question_id}>);return false;">
				<{$lang.questionnaire_answer_question|sprintf:$smarty.foreach.question.iteration}>
			</a>
		</div>
	<{/if}>

	<br class="float-clear" />
</div>
<{/strip}>