<{strip}>
<{* ブロック一覧表示用テンプレート *}>
<{assign var=displayUlTag value=$smarty.const._ON}>
<{foreach name="block" key="block_id" key=blockId item="block" from=$blocks}>
	<{if $block.module_id != 0}>
		<{if $block.block_name == ""
				&& $block.content != ""}>
			<{if $smarty.session._smartphone_flag == _ON
					|| $action.html_flag == _ON}>
				<{$block.content|smarty:nodefaults|img_style_rgb_to_hex|wysiwig_convert_url}>
			<{else}>
				<{$block.content|html_to_text|smarty:nodefaults|nl2br}>
			<{/if}>

			<{if $block.more_title != ""}>
				<br />
				<br />
				<a href="?action=announcement_view_main_init&amp;block_id=<{$block.block_id}>&amp;more_flag=<{$smarty.const._ON}><{$session_param}>">
					<{$block.more_title}>
				</a>
			<{/if}>
			<br />
		<{else}>
			<{if $displayUlTag == _ON}>
				<ul data-role="listview" data-inset="true">
				<{assign var=displayUlTag value=$smarty.const._OFF}>
			<{/if}>

				<li>
					<a href="./?action=pages_view_mobile&amp;block_id=<{$block.block_id}><{$session_param}>">
						<{if $block.block_name == ""}>
							<{$block.module_name}>
						<{else}>
							<{$block.block_name}>
						<{/if}>
					</a>
				</li>
		<{/if}>
	<{/if}>

	<{if !empty($action.blocks.$blockId|smarty:nodefaults)}>
		<{assign var="blocks" value=$action.blocks.$blockId}>
		<{include file="menu_mobile_recursive_block.html"}>
	<{/if}>

	<{if $smarty.foreach.block.last
			&& $displayUlTag == _OFF}>
		</ul>
	<{/if}>
<{/foreach}>
<{/strip}>