/* 
 * ブロック定義
 */
/* line */
.th_titleline_green_color {
	background-color:#2c7663;
}
/* 一般 */
.th_titleline_title {
	white-space:nowrap;
	text-align: left;
	padding: 0px 4px;
	margin:0px;
}

.th_titleline_line {
	width:5px;
}

.th_titleline_underline {
	height:2px;
}

.th_titleline_content {
	width:100%;
}
