.th_sideline_blue_line {
	width:3px;
	background-color:#64cbca;
}

.th_sideline_blue_title {
	white-space:nowrap;
	text-align: left;
	margin-bottom:10px;
}

/* highlight */
.th_sideline_blue .highlight {
	background-color:#e9f2fb;
	color:#4e62a9;
}

.th_sideline_blue a.hover_highlight:hover {
	background-color:#e9f2fb;
	color:#4e62a9;
	text-decoration:none;
}
.th_sideline_content {
	border:0px;
	padding-left:20px;
	padding-top:3px;
	padding-bottom:3px;
	width:100%;
}