<{strip}>

<{section name=i loop=$action.plan_data.$date}>
	<{assign var="plan_obj" value=$action.plan_data.$date[i]|smarty:nodefaults}>
	<{if ($plan_obj.plan_flag == CALENDAR_PLAN_PUBLIC) }>
		<{assign var="plan_class" value="calendar_plan_public"}>
	<{elseif ($plan_obj.plan_flag == CALENDAR_PLAN_MEMBERS ) }>
		<{assign var="plan_class" value="calendar_plan_members"}>
	<{elseif ($plan_obj.plan_flag == CALENDAR_PLAN_GROUP) }>
		<{assign var="plan_class" value="calendar_plan_group"}>
	<{elseif ($plan_obj.plan_flag == CALENDAR_PLAN_PRIVATE) }>
		<{assign var="plan_class" value="calendar_plan_private"}>
	<{/if}>
	
	<div class="calendar_plan">
		<{if ($plan_obj.allday_flag == _OFF || $plan_obj.timezone_offset != $smarty.session._timezone_offset) }>
			<div class="calendar_plan_time">
				<{$lang.calendar_show_time_format|smarty:nodefaults|sprintf:$plan_obj.start_time_str:$plan_obj.end_time_str}>
			</div>
		<{/if}>
		<a class="<{$plan_class}> calendar_plan_title hover_highlight" href="#" title="<{$lang.calendar_scheduled_title|smarty:nodefaults|sprintf:$plan_obj.short_title|smarty:nodefaults}>" onclick='calendarCls["<{$id}>"].showDetails(event, <{$plan_obj.calendar_id}>, false); return false;'>
			<img src="<{""|get_image_url}>/images/common/blank.gif" class="icon <{$plan_class}> calendar_plan_mark" alt="" title="" />
			<{if $plan_obj.title_icon != "" }>
				<img class="icon" src="<{""|get_image_url}>/images/comp/textarea/<{$plan_obj.title_icon}>" alt="" />
			<{/if}>
			<{$plan_obj.short_title}>
		</a>
	</div>
<{/section}>

<{/strip}>
