<{strip}>

	<{$lang.mdb_detail_writer|smarty:nodefaults}>
	<{$action.detail.value.insert_user_name}>

	<{if $action.mdb_obj.active_flag == $smarty.const._ON}>
		<{if $action.detail.value.has_edit_auth}>
			<{$lang._separator|smarty:nodefaults}>
			<a href="?action=multidatabase_view_main_content_init&amp;content_id=<{$action.detail.value.content_id}>&amp;multidatabase_id=<{$action.multidatabase_id}>&amp;block_id=<{$action.block_id}>&amp;filepwd_nonform=<{$smarty.const._ON}><{$session_param}>">
				<{$lang._edit|smarty:nodefaults}>
			</a>
			<{$lang._separator|smarty:nodefaults}>
			<a href="?action=multidatabase_view_mobile_content_delete_confirm&amp;content_id=<{$action.detail.value.content_id}>&amp;multidatabase_id=<{$action.multidatabase_id}>&amp;block_id=<{$action.block_id}><{$session_param}>">
				<{$lang._delete|smarty:nodefaults}>
			</a>
		<{/if}>

		<{if $action.detail.value.agree_flag == $smarty.const._OFF && $action.detail.value.temporary_flag == $smarty.const._OFF}>
			<{if $action.mdb_obj.vote_flag == $smarty.const._ON}>
				<{$lang._separator|smarty:nodefaults}>
				<{if $action.detail.value.voted}>
					<{$lang.mdb_detail_voted|smarty:nodefaults}>
				<{else}>
					<form action=".<{$smarty.const.INDEX_FILE_NAME}>" method="post" >
						<input type="hidden" name="action" value="multidatabase_action_main_vote" >
						<input type="hidden" name="content_id" value="<{$action.detail.value.content_id}>" >
						<input type="hidden" name="multidatabase_id" value="<{$action.multidatabase_id}>" >
						<input type="hidden" name="block_id" value="<{$action.block_id}>" >
						<{$token_form|smarty:nodefaults}>
						<{$session_form|smarty:nodefaults}>
						<input type="submit" name="vote" value="<{$lang.mdb_detail_vote|smarty:nodefaults}>" >
					</form>
				<{/if}>
				<{$lang._separator|smarty:nodefaults}>
				<{$lang.mdb_vote_number|smarty:nodefaults}>(<{$action.detail.value.vote_count}>)
			<{/if}>
			<{if $action.mdb_obj.comment_flag == $smarty.const._ON}>
				<{$lang._separator|smarty:nodefaults}>
				<{$lang.mdb_detail_comment|smarty:nodefaults}>(<{$action.detail.value.comment_count}>)
			<{/if}>
		<{/if}>
		<{if $action.detail.value.has_confirm_auth && $action.detail.value.agree_flag == $smarty.const._ON}>
			<{$lang._separator|smarty:nodefaults}>
			<form action=".<{$smarty.const.INDEX_FILE_NAME}>" method="post" >
				<input type="hidden" name="action" value="multidatabase_action_main_confirm" >
				<input type="hidden" name="content_id" value="<{$action.detail.value.content_id}>" >
				<input type="hidden" name="multidatabase_id" value="<{$action.multidatabase_id}>" >
				<input type="hidden" name="block_id" value="<{$action.block_id}>" >
				<{$token_form|smarty:nodefaults}>
				<{$session_form|smarty:nodefaults}>
				<input type="submit" name="confirm" value="<{$lang.mdb_detail_confirm|smarty:nodefaults}>" >
			</form>
		<{/if}>
	<{/if}>
<{/strip}>