<{strip}>
<div class="multidatabase_filepassword_popup">
<form id="multidatabase_password_form<{$id}>" action="#" onsubmit="return false;">
	<div class="multidatabase_filepassword_popup_title"><{$lang.mdb_file_password_input|sprintf:$action.file.file_name}></div>
	<input id="multidatabase_password<{$id}>" type="password" name="password" class="mdb_password_popup_input_block" maxlength="100" style="border-width:1px;" onkeydown="return mdbCls['<{$id}>'].submitPassword(event, this.form);" onfocus="Element.addClassName(this, 'highlight');" onblur="Element.removeClassName(this, 'highlight');" />
	<{if $acion.insert_user_id == $smarty.session._user_id || $smarty.session._auth_id >= $smarty.const._AUTH_CHIEF}>
		<div>
			<a class="syslink mdb_fixed_link" href="#" onclick="commonCls.displayChange($('mdb_file_password_display_div_<{$action.file.upload_id}>'));return false;"><{$lang.mdb_file_password_display}></a>
			<div id="mdb_file_password_display_div_<{$action.file.upload_id}>" class="display-none mdb_file_password_display"><{$action.file.file_password}></div>
		</div>
	<{/if}>
	<div class="btn-bottom">
		<input type="hidden" name="block_id" value="<{$block_id}>">
		<input type="hidden" name="upload_id" value="<{$action.file.upload_id}>">
		<input type="hidden" name="metadata_id" value="<{$action.metadata_id}>">
		<input class="btn-width lined_btn" type="button" value="<{$lang._regist|smarty:nodefaults}>" onclick="mdbCls['<{$id}>'].submitPasswordAction(this.form);return false;" />
		<input class="btn-width lined_btn" type="button" value="<{$lang._cancel|smarty:nodefaults}>" onclick="commonCls.removeBlock('<{$id}>');return false;" />
	</div>
</form>
</div>
<{include file="../multidatabase_script.html"}>
<script class="nc_script" type="text/javascript">
commonCls.focus($('multidatabase_password<{$id}>'));
</script>
<{/strip}>