<{strip}>
<{* 一問形式画面用テンプレート *}>
<{include file="quiz_mobile_head.html"}>

<form method="post" action=".<{$smarty.const.INDEX_FILE_NAME}>">
	<div>
		<input type="hidden" name="action" value="quiz_action_main_answer">
		<input type="hidden" name="quiz_id" value="<{$action.quiz.quiz_id}>">
		<input type="hidden" name="block_id" value="<{$block_id}>">
		
		<{if $action.single}>
			<input type="hidden" name="question_id" value="<{$action.question.question_id}>">
			
			<{assign var="question" value="`$action.question`"}>
			<{include file="quiz_mobile_question_answer.html"}>
		<{else}>
			<{foreach from=$action.questions item=question name="question"}>
				<{include file="quiz_mobile_question_answer.html"}>
			<{/foreach}>
	
			<{include file="quiz_mobile_image_authentication.html"}>
		<{/if}>

		<{if !$action.reference}>
			<input type="submit" value="<{$lang.quiz_answer}>">
		<{/if}>

		<{$token_form|smarty:nodefaults}>
		<{$session_form|smarty:nodefaults}>
	</div>
</form>

<{if (!$action.single) }>
	<{include file="quiz_mobile_goto_list.html"}>
<{/if}>
<{/strip}>