<{strip}>
<{* 小テスト一覧（管理列）用テンプレート *}>
<{if $quiz.question_count > 0}>
	<a class="syslink" href="#" title="<{$lang._ref_title|sprintf:$quiz.quiz_name}>" onclick="quizCls['<{$id}>'].showReference(event, <{$quiz.quiz_id}>, '<{$smarty.const.QUIZ_PREFIX_ID_NAME_REFERENCE}>');return false;">
		<{$lang._ref|smarty:nodefaults}>
	</a>
	<{$lang._separator|smarty:nodefaults}>
<{/if}>

<{if $quiz.answer_count > 0}>
	<a class="syslink" href="#" title="<{$lang.quiz_manage_answer_title|sprintf:$quiz.quiz_name}>" onclick="quizCls['<{$id}>'].showSummaryList(event, <{$quiz.quiz_id}>, null);return false;">
		<{$lang.quiz_manage_answer}>
	</a>
	<{$lang._separator|smarty:nodefaults}>

	<a class="syslink" href="#" title="<{$lang.quiz_manage_total_title|sprintf:$quiz.quiz_name}>" onclick="quizCls['<{$id}>'].showTotal(event, <{$quiz.quiz_id}>);return false;">
		<{$lang.quiz_manage_total}>
	</a>
	<{$lang._separator|smarty:nodefaults}>

	<a class="syslink" href=".<{$smarty.const.INDEX_FILE_NAME}>?action=quiz_view_edit_export&amp;block_id=<{$block_id}>&amp;quiz_id=<{$quiz.quiz_id}>" title="<{$lang.quiz_manage_export_title|sprintf:$quiz.quiz_name}>">
		<{$lang.quiz_manage_export}>
	</a>
	<{$lang._separator|smarty:nodefaults}>
<{/if}>

<a class="syslink" href="#" title="<{$lang._edit_title|sprintf:$quiz.quiz_name}>" onclick="commonCls.sendView('<{$id}>', {action:'quiz_view_edit_quiz_entry', quiz_id:<{$quiz.quiz_id}>});return false;">
	<{$lang._edit|smarty:nodefaults}>
</a>
<{$lang._separator|smarty:nodefaults}>

<a class="syslink" href="#" title="<{$lang.quiz_manage_question_edit_title|sprintf:$quiz.quiz_name}>" onclick="commonCls.sendView('<{$id}>', {action:'quiz_view_edit_question_list', quiz_id:<{$quiz.quiz_id}>});return false;">
	<{$lang.quiz_manage_question_edit}>
</a>
<{$lang._separator|smarty:nodefaults}>

<a class="syslink" href="#" title="<{$lang._del_title|sprintf:$quiz.quiz_name}>" onclick="quizCls['<{$id}>'].deleteQuiz('<{$quiz.quiz_id}>', '<{$lang._del_confirm|sprintf:$quiz.quiz_name|escape:"html"|escape:"javascript"}>');return false;">
	<{$lang._delete|smarty:nodefaults}>
</a>
<{/strip}>