<{strip}>
<{* new記号表示期間option用テンプレート *}>
<option value="0"><{$lang.photoalbum_new_period_none}></option>
<option value="1"><{$lang.photoalbum_new_period_unit|sprintf:"1"}></option>
<option value="2"><{$lang.photoalbum_new_period_unit|sprintf:"2"}></option>
<option value="5"><{$lang.photoalbum_new_period_unit|sprintf:"5"}></option>
<option value="7"><{$lang.photoalbum_new_period_unit|sprintf:"7"}></option>
<option value="30"><{$lang.photoalbum_new_period_unit|sprintf:"30"}></option>
<option value="90"><{$lang.photoalbum_new_period_unit|sprintf:"90"}></option>
<{/strip}>