<{strip}>
<{* 表示件数option用テンプレート *}>
<option value="1"><{$lang.photoalbum_visible_row_unit|sprintf:"1"}></option>
<option value="5"><{$lang.photoalbum_visible_row_unit|sprintf:"5"}></option>
<option value="10"><{$lang.photoalbum_visible_row_unit|sprintf:"10"}></option>
<option value="20"><{$lang.photoalbum_visible_row_unit|sprintf:"20"}></option>
<option value="50"><{$lang.photoalbum_visible_row_unit|sprintf:"50"}></option>
<option value="100"><{$lang.photoalbum_visible_row_unit|sprintf:"100"}></option>
<{* <option value="0"><{$lang.photoalbum_visible_row_all}></option> *}>
<{/strip}>