<{strip}>

<{section name=i loop=$action.reserve_data.$date}>
	<{assign var="reserve" value=$action.reserve_data.$date[i]|smarty:nodefaults}>

	<{include file="reservation_main_set_reserve_class.html" assign="reserve_class" reserve_flag=$reserve.reserve_flag}>
	
	<div class="reservation_reserve">
		<{if ($reserve.start_time_view != "000000" && $reserve.start_time_view != "240000") }>
			<div class="reservation_time">
				<{$lang.reservation_fmto_format|smarty:nodefaults|sprintf:$reserve.start_time_str:$reserve.end_time_str}>
			</div>
		<{/if}>
		<{if ($reserve.reserve_flag == RESERVATION_MEMBERS || in_array($reserve.room_id|smarty:nodefaults, $action.room_id_arr)) }>
			<a class="<{$reserve_class}> reservation_reserve_title hover_highlight" href="#" title="<{$lang.reservation_reserve_link_title|smarty:nodefaults|sprintf:$reserve.short_title|smarty:nodefaults}>" onclick='reservationCls["<{$id}>"].showReserveDetails(event, "<{$reserve.reserve_id}>"); return false;'>
				<img src="<{""|get_image_url}>/images/common/blank.gif" class="icon <{$reserve_class}> reservation_reserve_mark" alt="" title="" />
				<{if $reserve.title_icon != "" }>
					<img class="icon" src="<{""|get_image_url}>/images/comp/textarea/<{$reserve.title_icon}>" alt="" />
				<{/if}>
				<{$reserve.short_title}>
			</a>
		<{else}>
			<a class="<{$reserve_class}> reservation_reserve_title hover_highlight" href="#" title="<{$reserve.insert_user_name}>" onclick='commonCls.showUserDetail(event, "<{$reserve.insert_user_id}>"); return false;'>
				<img src="<{""|get_image_url}>/images/common/blank.gif" class="icon <{$reserve_class}> reservation_reserve_mark" alt="" title="" />
				<{$reserve.insert_user_name}>
			</a>
		<{/if}>
	</div>
<{/section}>

<{/strip}>
