<{strip}>

<th scope="row" class="nowrap">
	<label for="location<{$id}>">
		<{$lang.reservation_location|smarty:nodefaults}>
	</lable>
</th>
<td class="nowrap">
	<select id="reservation_switch_category<{$id}>" class="reservation_style_select" name="category_id" onchange='reservationCls["<{$id}>"].switchReserveCategory(this.form);'>
		<option value="0" selected="selected">
			<{$lang.reservation_select_location|smarty:nodefaults}>
		</option>
		<{foreach name="category" key="category_id" item="category_name" from=$action.category_list}>
			<{if ($action.location_count_list.$category_id > 0 || $smarty.session._user_auth_id == _AUTH_ADMIN) }>
				<option value="<{$category_id}>}>"<{if ($category_id == $action.category_id) }> selected="selected"<{/if}>>
					<{if ($category_name == "") }>
						<{$lang.reservation_no_category|smarty:nodefaults}>
					<{else}>
						<{$category_name|smarty:nodefaults}>
					<{/if}>
				</option>
			<{/if}>
		<{/foreach}>
	</select>
	<div>
		<{include file="reservation_view_switch_category.html"}>
	</div>
</td>

<{/strip}>
