/* 
 * ブロック定義
 */
/* 枠 */
.th_classic_red {
	background-color:#ffffff;
	border:1px solid #f57f7f;
	border-collapse:collapse;
}

.th_classic_red_header{
	border:1px solid #f57f7f;
	background-color:#ffeffc;
	width:100%;
	border-collapse:collapse;
}

.th_classic_red_title {
	color:#e61212;
	font-size:90% !important;
	margin:0px;
	padding:5px 0px 5px 5px;
	display:block;
}

.th_classic_red_btn {
	border-left:1px solid #f57f7f;
	float:left;
	display:block;
	padding: 0px 5px;
	white-space:nowrap;
}
/* highlight */
.th_classic_red .highlight{
	background-color:#ffefff;
	color:#e61212;
}

.th_classic_red a.hover_highlight:hover {
	background-color:#ffefff;
	color:#e61212;
	text-decoration:none;
}

/* 一般 */
.th_classic_content {
	border:0px;
	padding:10px;
}

.th_classic_headermenu {
	padding-top:5px;
}

.th_classic_shortcut {
	width:19px;
	padding: 0px 2px;
}