body {
	background-color:#f7fbfc;
}
.leftcolumn {
	background-color:#f7fbfc;
}

.centercolumn {
	background-color:#f7fbfc;
}

.rightcolumn {
	background-color:#f7fbfc;
}
.headercolumn_menu {
	background-color: #f7fbfc !important;
}
.headercolumn {
	background-color:#f7fbfc;
}

.footercolumn {
	background-color:#f7fbfc;
}