ul.header_180x35_sky {
	display:block;
	list-style:none;
	margin:0px;
	padding:0px;
}

ul.header_180x35_sky li {
	display:block;
	float:left;
	padding:0px;
}

a.header_180x35_sky_btn_r {
	height:35px;
	width:166px;
	overflow:hidden;
	display:block;
	padding:0px 0px 0px 22px;
	line-height:35px;
	font-weight:bold !important;
	color:#00295F !important;
	font-size:12px !important;
	background:url(<{$smarty.const.CORE_BASE_URL}>/images/menu/header_180x35_sky/btn_r.gif) no-repeat left top;
	text-align:left;
	position:relative;
	margin-left:-8px;
}

a.header_180x35_sky_btn_r_hover {
	height:35px;
	width:166px;
	overflow:hidden;
	display:block;
	padding:0px 0px 0px 22px;
	line-height:35px;
	font-weight:bold !important;
	font-size:12px !important;
	background:url(<{$smarty.const.CORE_BASE_URL}>/images/menu/header_180x35_sky/btn_r.gif) no-repeat left top;
	text-align:left;
	position:relative;
	margin-left:-8px;
	color:#00295F !important;
	background-position:bottom;
}

a.header_180x35_sky_btn_r:hover {
	color:#00295F !important;
	background-position:bottom;
}

a.header_180x35_sky_btn_l {
	height:35px;
	width:158px;
	overflow:hidden;
	display:block;
	padding:0px 0px 0px 22px;
	line-height:35px;
	font-weight:bold !important;
	color:#00295F !important;
	font-size:12px !important;
	background:url(<{$smarty.const.CORE_BASE_URL}>/images/menu/header_180x35_sky/btn_l.gif) no-repeat left top;
	text-align:left;
	position:relative;
}

a.header_180x35_sky_btn_l_hover {
	height:35px;
	width:158px;
	overflow:hidden;
	display:block;
	padding:0px 0px 0px 22px;
	line-height:35px;
	font-weight:bold !important;
	font-size:12px !important;
	background:url(<{$smarty.const.CORE_BASE_URL}>/images/menu/header_180x35_sky/btn_l.gif) no-repeat left top;
	text-align:left;
	position:relative;
	color:#00295F !important;
	background-position:left bottom;
}

a.header_180x35_sky_btn_l:hover {
	color:#00295F !important;
	background-position:left bottom;
}